---
import CheckoutFormClient from "../components/CheckoutFormClient.jsx";
---

<section class="w-full flex items-center justify-center px-4 py-20">
  <CheckoutFormClient client:only="react" />
</section>
